* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
}

#main-container {
    background-color: #FFFFFF;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 10px;
}

.content {
    margin: 1rem 1.5rem 1rem 1.5rem;
}



p, li {
    font-size: smaller;
    color: #575757;
}

#img-container {
    display: block;
}

img {
    max-width: 100%;
    max-height: auto;
}

h1 {
    opacity: 0.8;
    margin-bottom: 1rem; 
}

h3 {
    color: #854631;
    font-size: 1.5rem;
}

h1, h3 {
    font-family:  "Young Serif", serif;
}


#preparation {
    font-family: "Outfit", sans-serif;
    background-color: #FFF7FB;
    width: 80%;
    padding: 0.7rem;
    border-radius: 10px;
}

.prep-head {
    color: #6e2e49;
    font-weight: 600;
    padding: 1rem;
    opacity: 1;
    font-size: 1.1rem;
}

.prep-list {
    padding-left: 2rem;
}

.prep-list li {
    padding-left: 15px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

.prep-list li::before {
    content: "•"; 
    color: #6e2e49;
    display: inline-block; 
    width: 1em;
    margin-left: -2em
}

#ingredients {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.094);
}

.ing-head {
    padding-bottom: 0.7rem;
}

.ing-list {
    padding-left: 1rem;
}

.ing-list li {
    padding-left: 1rem;
    padding-bottom: 5px;
}

.ing-list li::before {
    content: "•"; 
    color: #854631;
    display: inline-block; 
    width: 2em;
    margin-left: -2em
}

#instructions {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.094);
}

.inst-head {
    padding-bottom: 0.7rem;
}

.inst-list {
    padding-left: 1rem;
    font-family: "Outfit", sans-serif;
}

.inst-list li {
    padding-left: 1rem;
    padding-bottom: 5px;
}


ol li::marker {
    color: #854631;
    font-weight: 500;
}

.nut-head, .description {
    padding-bottom: 0.7rem;
}



#bottom-table {
    display: flex;
    flex-direction: column;
}

#bottom-table, .description {
    font-family: "Outfit", sans-serif;
    font-weight: 800;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.border {
    border-bottom: 2px solid rgba(128, 128, 128, 0.094);
}

.row p {
    margin-left: 30px;
    flex-basis: 40%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.right {
    color: #854631;
}

.para {
    font-weight: 400;
}


@media (min-width: 576px){

    body {
        background-color: #F3E6D8;
    }

    #main-container {
        margin: 50px;
        padding: 2rem;
        width: 50%;
    }

    img {
        border-radius: 10px;
    }
}